@use "../../styles/variables.scss" as *;
@use "../../styles/mixins.scss" as *;
@use "../../app/page.module.scss" as *;

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
  background-color: $background-color;
  color: $text-color;
  padding: 20px;
}

.form {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}
.input {
  @include input-style;
  margin-left: 10px;
}

.button {
  @include button-style;
}

.buttonDisabled {
  @include button-disabled;
}

.link {
  @include postman-link;
}
