@use "../../styles/variables.scss" as *;
@use "../../styles/mixins.scss" as *;

.historyHeader {
  font-size: 2.5em;
}

.link {
  @include postman-link;
  font-size: 1.4em;
}

.date {
  font-size: 1.2em;
}

@media (max-width: 768px) {
  .requestHistoryWrapper {
    text-align: center;
  }
  .historyHeader {
    text-align: center;
  }
  .link {
    text-align: center;
  }
  .date {
    font-size: 1em;
  }
  .link {
    font-size: 1.2em;
  }

  .historyHeader {
    font-size: 2em;
  }
}